*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color:white;
    background-color:black;
    position: relative;
  }
  
/*---------------------------------- Navbar-------------------------------------- */
.one{

    color: white;
}
.logo{
    margin:10px;
    border-radius: 50%;
}
.navbar-nav{
    display: flex;
    margin-left: 380%;
    margin-top: -80px;
}
.navbar input[type="checkbox"]{
  display: none;
}

.navbar .menu-icon{
  display: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 10px;
}
/*-------------------------------------------- Navbar mediaquery ------------------------------------------------------------------------------*/
@media (max-width: 475px) {
  .one{
    display: flex;
    align-items: center;
    justify-content:start;
}
.navbar-nav{
  flex-direction: column;
  align-items: flex-start;
}
.navbar .menu-icon{
  display: block;
  margin-left:10px;
}
.navbar .navbar-nav{
  display: none;
  width: 100%;
  flex-direction: column;
  margin-left: 180px;
  margin-top: 10px;
  /* text-align: center; */
}
.navbar .navbar-nav li{
  display: block;
}
.navbar input[type="checkbox"]:checked~.navbar-nav{
  display: flex;
}
}





/*----------------------------------- Header -----------------------------------------*/
.header{
    padding: 194px 250px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://ryansechrest.com/content/images/2022/08/nodes.gif)center/cover no-repeat;
    /* background: url(https://i.gifer.com/J4o.gif)center/cover no-repeat; */
}
.a1{
    margin-right: 83%;
}
.a2{
    margin-right: 78%; 
}
.a2 span{
    font-weight:400;
    font-size:40px;
}
.btno {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 330px ;
    background-color:rgb(10, 71, 100);
    color: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .btno:hover{
  transform: scale(1.1);
  /* z-index: 5; */
  color: #fff;
  text-decoration:wavy;
}
  /*-------------------------------------------- Header mediaquery ------------------------------------------------------------------------------*/
 @media (max-width: 475px) {
   .header {
      padding: 200px 20px;
      background-size: cover;
      background-position: center;
       display: block;
     align-items: center;
     justify-content: center;
     margin-left: 0px;
     padding-bottom: -60px;
     margin-bottom:-120px;
  }

  .a1{
    width: 60%;
    margin-left:-40px;
    margin-top: 20px;
  }
  .a2{
    width: 70%;
    margin-left: -10px;
    margin-top: -20px;
  }
  .a3{
    width: 66%;
    margin-top: -10px;
  }
  .a4{
    width: 70%;
    font-weight: 500;
    /* align-items: center; */
    word-spacing:-1px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;

  }
  .btno{
    width: 70%;
    margin-left: 10px;
  }


}


  /*----------------------------------------- About ---------------------------------*/
.about-section{
    /* padding: 200px; */
       padding: 194px 200px;
}
.b1{
    color: lightblue;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}
.b2{
    margin-right: 76%;
}
.b2 span{
    color: lightblue;
}

.b3 span{
    color: lightblue;
}
.b8{
    margin-left: -10px;
}
.b8 span{
    color: lightblue;
    margin-right:5px;
    
}
.mern{
    margin-left: -40px;
}
.skill {
  border: 1px solid white;
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 30px;
}
.skill h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color:white;
  font-weight: bold;
  margin-top: 10px;
}
.skill span{
  color: lightblue;
}
.skill img {
  max-width: 100%;
  height: 75%;
  margin-bottom: 10px;
  
}


/*------------------------------------- About section Media-query ----------------------------------------------------*/
@media (max-width: 475px) {
  .about-section {
     padding:100px 20px;
     background-size: cover;
     background-position: center;
      display: block;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-bottom:-120px;
    margin-top: -10px;
 }
 .b1{
  width: 70%;
  margin-left:2px;
  margin-top: 60px;
 }
 .b2{
  width: 60%;
  margin-left:-10px;
  margin-top:20px;
 }
 .b3{
  width: 70%;
  text-align: justify;
  word-spacing: -1px;
  font-weight: 400;
 }

 .b5{
  width: 80%;
  text-align: justify;
 }
 .bb5{
  display: none;
 }
 .skill{
  width: 60%;
  margin-bottom:40px;
 }
 
 .skill h3{
  display: none;
 }
}


/*------------------------------------------- Project ----------------------------------------------*/
.project{
    width: 100%; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    /* background: url(https://ryansechrest.com/content/images/2022/08/nodes.gif)center/cover no-repeat; */
    /* background: url(https://i.gifer.com/J4o.gif)center/cover no-repeat; */
    /* background-color:grey; */
}
.c1{
    margin-right: 90%;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Styling for the product grid */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));           
    gap: 15px;
  }
  
  /* Styling for individual product items */
  .product {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.product:hover{
  transform: scale(1.1);
  /* z-index: 5; */
}
  
  .product img {
    max-width: 100%;
    height: 75%;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color:white;
    font-weight: bold;
  }
  
  .product p {
    font-size: 1em;
    color:white;
  }
  
  /* Styling for the "More Products" button */
  /* .more-products {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color:#e09f3e;
    color: black;
    border: none;
    cursor: pointer;
  } */
   /* ------------------------------------------------PROJECT MEDIA QUERY ----------------------------------------------------------*/
   @media (max-width: 475px) {
    .product-grid {
      display:block;
      width: 80%;
      margin-top: 15px;
      
    }
    .product p{
      text-align: justify;
      width:100%;
      word-spacing:0px;
      /* margin-left: -10px; */
     
    }
    
  
    
   }
  /*---------------------------------------------------- Contact ---------------------------------------------------------------*/
  .refer{
    display: flex;
  }
  
  form{
    margin-left:160px;
    border-radius: 20px;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    padding: 48px;
    background-color: #6c757d;
    color: #fff;
  }
  .d1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 30px;
  }
  .detail{
    margin:150px;
  }
  /* --------------------------------------------CONTACT Section Media query -----------------------------------------------------*/
  @media (max-width: 475px) {
    .refer{
      display:block;
    } 
    .detail img{
      width:900%;
      margin-left:-120px;
      margin-top: -95px;
    }
    .refer form{
      margin-left:-4px;
      width:85%;
      margin-top: -90px;
    }
  }

/* ----------------------------------------------------------Footer ----------------------------------------------------------------*/
.footer {
    display: flex;
    background:white;
    color: gray;
    padding: 15px;
    text-align: center;
    justify-content: center;

  }
  /*----------------------------------------------- Footer Media query ----------------------------------------------------*/
  @media (max-width: 475px) {
 .footer{
  width: 80%;
 }
  }
 